.container-text {
    margin: 16px 0 16px 0;
  }
  
.text-blue {
    color: #1875E8;
  }

.play-button {
    margin: 16px 0 16px 0;
  }

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
  }
  
h2 {
    font-size: 32px;
    font-weight: 400;
  }